<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vox.oasis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vox.render.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>vox.tracing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0452EC9526DFA0CD0015BFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0452ECA526DFA0CD0015BFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0452ECB026DFA0CD0015BFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0497A1E026DF150500F61DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0497A1F126DF150800F61DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
